* {
    box-sizing: border-box;
}

body   {
    font-family: 'Open Sans', 'Arial', 'sans-serif';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

a {
    text-decoration: none;
}
.img {
    max-width: 100%;
}

.button-first {
    background: #000000;
    color: #fff;
    display: flex;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    padding: 9px 22px;
    cursor: pointer;
    border: none;
}

.button-first:hover {
    background: #C29974;
    border: none;
}

.button-first:active {
    background: #CFAF91;
}

.button-first:disabled {
    background: #C7C1C1;
}
.unddoted {
    list-style-type: none;
    padding: 0;
    margin: 0;
   
} 
.container, .container-delivery {
    max-width: 1180px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 129px;
}

.header-menu {
    margin: 0 auto 0 64px;
}

.header-list {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
}

.header-menu a {
    color: #1E0606;
    margin-right: 20px;
}

.header a:hover,
.search:hover {
    opacity: 50%;
}

.header a:active, 
.search:active {
    opacity: 10%;
}

.search {
    border: none;
    cursor: pointer;
    background: transparent;
    margin-right: 17px;
}
.contact-us {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
    text-transform: uppercase;
    margin-right: -10px;
}

/*BREADCRUMBS*/
.crumbs {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.crumbs a, 
.this-page {
    font-family: 'Crimson Text';
    font-style: italic;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
    margin: 0;
}

.crumbs a {
    margin-right: 48px;
    
}

.this-page { 
    opacity: 0.5;
}



.breadcrumbs-link {
    position: relative;
}

.breadcrumbs-link::after {
    position: absolute;
    content: '';
    width: 8px;
    height: 12px;
    background: url(../breadcrumbs.svg);
    right: -30px;
    top: 6px;
}

/*PAGE-LIST*/

.page-list {
    display: flex;
    justify-content: center;
    margin-right: 67px;
    margin: 53px auto 63px;
}



.page-list a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #1E0606;
    margin-right: 67px;
}

.page-list a.page-1 {
    color: #C29974;  
}

.page-list a:hover {
    color: #AAAAAA;
}
.page-list a:active {
    color: #C29974;
}

.hidden {
    font-size: 0;
    line-height: 0;
}

/*page-list*/

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-l,
.arrow-r {
    cursor: pointer;
    width: 37px;
    height: 37px;
    border: 0;
    background-repeat: no-repeat; 
    background-color: transparent;
   
}

.arrow-l {
    background-image: url('../images/arrowL.svg');
}

.arrow-r {
    background-image: url('../images/arrowR.svg');
}

.arrow-r:hover,
.arrow-r:active {
    background-image: url('../images/arrowRhover.svg');
}
  
/*footer*/

.footer {
    display: flex;
    justify-content: center;
    background: #434343;
    margin: auto;
    
}

.footer-block {
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}

.footer-list li {
    margin-bottom: 15px;  
}

.footer-list a {
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}



.footer-list {
    display: flex;
    flex-direction: column;
    width: 380px;
    margin-top: 100px;
    margin-bottom: 13px;
}

.footer-list a:hover,
.connect a:hover {
    opacity: 0.5;
}
  
.footer-title {
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
    border-bottom: solid 1px;
    border-bottom-color: #666666;  
    padding-bottom: 23px;  
}

.footer-text {
    padding: 0;
    margin-top: 28px;
}


.connect {
    display: flex;
    padding: 0;
}

.connect li {
    margin-right: 10px;
}

.under {
    margin-bottom: 100px;
    border-top: solid 1px #666666;
    width: 1180px;
    
}

.under p {
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.under a {
    font-size: 16px;
    line-height: 22px;
    color: #A2A2A2;
    margin-left: 110px  ;
}

.footer-info {
    display: flex;
    align-items: center;
    padding: 0;
    margin-top: 10px;  
}

.footer-info a:hover,
.footer-info a:active {
    text-decoration-line: underline;
    color: #FFFFFF;
}

.footer-info p:hover,
.footer-info p:active {
    color: #C29974;
}


.rating {
    display: flex;
    align-items: center;
    margin-right: 150px;
}

.rating-star {
    display: flex;
    padding: 0;
    margin-left: 25px;
}

.rating-star li {
    margin: 3px;
}

.rating-star button:hover {
    color: #C29974;
}


.footer-form {
    width: 380px;
    height: 40px;
    background: #666666;
}



 /*INPUT*/
 
 label {
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
    margin-bottom: 3px;
 }

 input,
 textarea {
    border: 1px solid #C7C1C1;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #1E0606;
    padding: 14px 20px;
    resize: none;
    outline: none;
 }

 input:hover,
 input:active,
 textarea:hover,
 textarea:active {
    background: #FFFFFF;
    border: 1px solid #C29974;
 }

 input:disabled,
 textarea:disabled {
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
 }

 textarea {
    max-height: 150px;
 }

 .label-wrapper {
    display: flex;
    flex-direction: column;
 }

 .field-2-column {
    display: flex;
    justify-content: space-between;
 }

 .field-2-column .label-wrapper {
    width: 290px;
 }

 .clicking {
    margin: 22px auto 17px;
 }

/* EMAIL */

.footer-form {
    display: flex;
    margin: 25px 0;
}

.email {
    width: 299px;
    height: 40px;
    background: #666666;
    border: 1px solid #666666; 
    color: #EBEBEB;
}

.email:hover,
.email:active {
    border: 1px solid #FFFDFD;
    background: #666666;
    
}

/* checkbox radio*/

.checkbox-input,
.radio-input,
.radio-amoun {
    display: none;
}

.checkbox-label,
.radio-label {
    position: relative;
    cursor: pointer;
    padding-left: 30px;

}

.checkbox-label:before,
.checkbox-label:after,
.radio-label:before,
.radio-label:after {
    content: '';
    position: absolute;
    display: block;
}

.checkbox-label:before {
    width: 19px;
    height: 19px;
    background: transparent;
    border: 2px solid #C29974;
    border-radius: 3px;
    top: 0;
    left: 0;
}

.checkbox-label:after {
    width: 20px;
    height: 20px;
    background-image: url('/images/check.svg');
    background-repeat: no-repeat;
    left: 5px;
    top: 3px;
    opacity: 0;
}

.radio-label:before {
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid #C29974;
    border-radius: 3px;
    left: 0px;
    top: 0px;
    border-radius: 50%;
}
.radio-label:after {
    width: 16px;
    height: 16px;
    background: #C29974;
    left: 4px;
    top: 4px;
    border-radius: 50%;
    opacity: 0;
}


.checkbox-input:checked + .checkbox-label:after,
.radio-input:checked + .radio-label:after {
    opacity: 1;
}

.checkbox-list li,
.radio-list li {
    margin-bottom: 18px;
}

.checkbox-input:hover + .checkbox-label,
.radio-input:hover + .radio-label,
.checkbox-input:hover + .checkbox-label::before,
.radio-input:hover + .radio-label::before {
  text-decoration-line: underline;
  color: #1E0606;
}

.checkbox-input:disabled + .checkbox-label,
.radio-input:disabled + .radio-label,
.radio-amoun:disabled + .amount-label,
.checkbox-input:disabled + .checkbox-label::before,
.radio-input:disabled + .radio-label::before,
.radio-amoun:disabled + .amount-label:before {
  text-decoration-line: none;
  opacity: .5;
}



