.toys-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606;
}

   

.toys-item {
    display: flex;

}

/* CHOICE*/

.step {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.section-color {
    background: #E5EAF8;
}
.choice {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 42px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;

}
.choice-title {
    font-weight: 700;
    margin-bottom: 15px;
}
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}


.amount {
    display: flex;
    justify-content: flex-start;  
}

.amount-label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 80px;
    height: 35px;
    background: #FFFFFF;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.radio-amoun:checked + label {
    background: #F3D0DB;
}

.amount-label:hover {
    background: #EDDEEB;
    color: #877379;
}

.amount-label:active {
    background: #F3D0DB;
}

.choice button {
    margin: 33px 47px 0 0;
}

/*TOYS*/

.toys-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.toys-list li {
    max-width: 380px;
    padding: 10px;
}

.name,
.price {
    margin: 0 auto;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #1E0606;
}

.price {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}


[data-tooltip] {
    position: relative;
}

[data-tooltip]::after {
    content: attr(data-tooltip); 
    position: absolute;
    width: 207px;
    height: 207px;
    right: 66px;
    bottom: 119px;
    background: rgba(229, 234, 248, 0.9);
    padding: 12px; 
    opacity: 0; 
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    text-transform: uppercase;
    color: #1E0606;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
} 
   
[data-tooltip]:hover::after {
    opacity: 0.9; 
}

[data-tooltip]:active::after {
    opacity: .7; 
}


